<%= form_for([:admin, @agenda], :html => {:class => "form-horizontal center"}) do |f| %>
    <%= f.error_messages %>
    <div class="form_elems">
      <div class="form-group">
        <div class="col-md-3 label_div">
          <%= f.label :title, class: "control-label" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :title, class: "form-control", placeholder: :title, :required => true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 label_div">
          <%= f.label :status, class: "control-label" %>
        </div>
        <div class="col-md-9">
          <%= f.select :status, ['Open', 'Closed', 'Working', 'Implemented'], class: "form-control", placeholder: :status, :required => true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 label_div">
          <%= f.label :details, class: "control-label" %>
        </div>
        <div class="col-md-9">
          <%= f.text_area :details, rows: 4, class: "form-control", placeholder: :details, :required => true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 label_div">
          <%= f.label :solutions, class: "control-label" %>
        </div>
        <div class="col-md-9">
          <%= f.text_area :solutions, rows: 4, class: "form-control", placeholder: :solutions %>
        </div>
      </div>
    </div>
    <%= f.submit class: "btn btn-block btn-default btn-primary" %></br>
<% end %>
