<%= render 'home_page/pages_without_signin/main_jumbotron' %>
    <div class="section whiteblock">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <%= render 'home_page/pages_without_signin/upcoming_events' %>
                </div>
                <div class="col-md-4">
                    <%= render 'home_page/pages_without_signin/signin_signup_widget' %>
                </div>
            </div>
        </div>
    </div>
    <%= render 'home_page/pages_without_signin/students_needs_discussion_section' %>
    <%= render 'home_page/pages_without_signin/gallery' %>