<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table width="100%">
          <tr style="border: none;">
            <td align="left"><h3 class="text-warning">
              Event Details
            </h3></td>
            <td align="right"><%= link_to "Back", :back %>&nbsp;|&nbsp;
              <%= link_to "Back to List", admin_events_path %></td>
          </tr>
        </table>
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <table id="show_details_table">
            <tr>
              <td><strong>Title:</strong></td>
              <td><%= @event.title %></td>
            </tr>
            <tr>
              <td><strong>Summary:</strong></td>
              <td><%= @event.summary %></td>
            </tr>
            <tr>
              <td><strong>Status:</strong></td>
              <td><%= @event.status %></td>
            </tr>
            <tr>
              <td><strong>Type:</strong></td>
              <td><%= @event.event_type %></td>
            </tr>
            <tr>
              <td><strong>Target Audiance:</strong></td>
              <td><%= @event.target_audiance %></td>
            </tr>
            <tr>
              <td><strong>Organizers:</strong></td>
              <td><%= @event.organizers %></td>
            </tr>
            <tr>
              <td><strong>Guests:</strong></td>
              <td><%= @event.guests %></td>
            </tr>
            <tr>
              <td><strong>Event Date:</strong></td>
              <td><%= @event.event_date %></td>
            </tr>
            <tr>
              <td><strong>Event Starting Time:</strong></td>
              <td>
                <% if !@event.event_from_time.blank? %>
                    <%= @event.event_from_time.strftime("%I:%M%p") %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><strong>Event Ending Time:</strong></td>
              <td>
                <% if !@event.event_to_time.blank? %>
                    <%= @event.event_to_time.strftime("%I:%M%p") %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><strong>Venue:</strong></td>
              <td><%= @event.venue %></td>
            </tr>
            <tr>
              <td><strong>Image Path:</strong></td>
              <td><%= @event.image_path %></td>
            </tr>
            <tr>
              <td><strong>Details:</strong></td>
              <td><%= @event.details %></td>
            </tr>
          </table>
          <p>
            <%= link_to "Edit", edit_admin_event_path(@event) %> |
            <%= link_to "Destroy", admin_event_path(@event), data: {:confirm => 'Are you sure?'}, :method => :delete %> |
            <%= link_to "View All", admin_events_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>