<div id="form_container_wrapper">
  <div id="form_container">
    <table style="border: 3px groove #e76b00; border-radius: 5px;" class="alumni-form" width="100%">
      <tr>
        <td style="padding: 10px;" valign="top">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div class="field">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>
              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>
              <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off" %>
              </div>
              <div class="actions">
                <%= f.submit "Update", :style => 'background-color:#e76b00; margin-top:5px;' %>
              </div>
          <% end %>
          <h3>Cancel my account</h3>
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" },:style => 'background-color:#e76b00;', method: :delete %></p>
          <%= link_to "Back", :back %>
        </td>
      </tr>
    </table>
  </div>
</div>