<div id="devise_form_container_wrapper">
  <div id="devise_form_container">
    <ul class="list-unstyled">
      <li><h3 class="form-heading">SIGN UP USING EMAIL</h3></li>
    </ul>
    <table style="border: 3px groove #e76b00; border-radius: 5px;" class="devise-form-table" width="100%">
      <tr>
        <td style="padding: 10px; border-right: 5px inset white;" valign="top">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:"devise-form" }) do |f| %>

              <%= devise_error_messages! %>
              <ul style="list-style-type: none;">
                <li>
                  <%= f.label :name %><br/>
                  <%= f.text_field :name, :required => true, autofocus: true %>
                </li>
                <li>
                  <%= f.label :email %><br/>
                  <%= f.email_field :email, :required => true %>
                </li>
                <li>
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br/>
                  <%= f.password_field :password, :required => true, autocomplete: "off" %>
                </li>
                <li>
                  <%= f.label :password_confirmation %><br/>
                  <%= f.password_field :password_confirmation, :required => true, autocomplete: "off" %>
                </li>

                <li>
                <li><%= f.submit "Sign up", :style => 'background-color:#e76b00; margin-top:10px;' %></li>
                </li>
              </ul>
          <% end %>
        </td>
        <td style="padding: 20px;" valign="top">
          <%= render 'home_page/pages_without_signin/signin_signup_widget' %>
        </td>
      </tr>
    </table>
  </div>
</div>