<div class="gallery-section hidden-xs section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Gallery</h1>
        <p class="text-center lead">Recent Memories</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <%= image_tag("gallary-photos/milan-samaroh-1.jpg", :alt => "milan-samaroh-1",:class=>"img-responsive", :style => "align:center;") %>
      </div>
      <div class="col-md-3 col-sm-6">
        <%= image_tag("gallary-photos/milan-samaroh-2.jpg", :alt => "milan-samaroh-2",:class=>"img-responsive", :style => "align:center;") %>
      </div>
      <div class="col-md-3 hidden-sm">
        <%= image_tag("gallary-photos/milan-samaroh-3.jpg", :alt => "milan-samaroh-1",:class=>"img-responsive", :style => "align:center;") %>
      </div>
      <div class="col-md-3 hidden-sm">
        <%= image_tag("gallary-photos/milan-samaroh-4.jpg", :alt => "milan-samaroh-1",:class=>"img-responsive", :style => "align:center;") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <%= image_tag("gallary-photos/milan-samaroh-5.jpg", :alt => "milan-samaroh-1",:class=>"img-responsive", :style => "align:center;") %>
      </div>
      <div class="col-md-3 col-sm-6">
        <%= image_tag("gallary-photos/milan-samaroh-6.jpg", :alt => "milan-samaroh-1",:class=>"img-responsive", :style => "align:center;") %>
      </div>
      <div class="col-md-3 hidden-sm">
        <%= image_tag("gallary-photos/milan-samaroh-7.jpg", :alt => "milan-samaroh-1",:class=>"img-responsive", :style => "align:center;") %>
      </div>
      <div class="col-md-3 hidden-sm">
        <%= image_tag("gallary-photos/milan-samaroh-8.jpg", :alt => "milan-samaroh-1",:class=>"img-responsive", :style => "align:center;") %>
      </div>
    </div>
  </div>
</div>