<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table width="100%">
          <tr style="border: none;">
            <td align="left"><h3 class="text-warning">
              All Events
            </h3></td>
            <td align="right"><%= link_to "Back", :back %>&nbsp;|&nbsp;
              <%= link_to "Back to List", events_path %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table width="100%">
          <tr style="border: none;">
            <td align="left">
              <% if !will_paginate.blank? %>
                  <%= will_paginate @events %>
              <% else %>
                  <div class='pagination'>
                    <ul class='pagination'>
                      <li class='prev previous_page disabled'><a href='#'>← Previous</a></li>
                      <li class='active'><a rel='start' href='#'>1</a></li>
                      <li class='next next_page disabled'><a rel='next' href='#'>Next →</a></li>
                    </ul>
                  </div>
              <% end %>
            </td>
            <td align="left">
              <form role="form">
                <input id="searchinput" name="searchinput" class="form-control" type="search" placeholder="Search Events" onchange="this.form.submit()"/>
              </form>
            </td>
            <td align="right"><%= link_to "Create New Event", new_event_path %></td>
          </tr>
        </table>
        <% if !@events.blank? %>
            <table class="view_table">
              <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Event Date</th>
                <th colspan="3">Actions</th>
              </tr>
              <% for event in @events %>
                  <tr>
                    <td><%= event.title %></td>
                    <td><%= event.status %></td>
                    <td><%= event.event_date %></td>
                    <td><%= link_to "Show", event %></td>
                    <td><%= link_to "Edit", edit_event_path(event) %></td>
                    <td><%= link_to "Destroy", event, data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
                  </tr>
              <% end %>
            </table>
            <br><br>
        <% else %>
            <strong>There is no events to show!!</strong>
        <% end %>

      </div>
    </div>
  </div>
</div>