<div id="form_container_wrapper">
  <div id="form_container">
    <ul class="list-unstyled">
      <li><h3 class="form-heading">PLEASE UPDATE YOUR INFORMATION (2/3)</h3></li>
    </ul>
    <form class="alumni-form" method="post" action="/update_alumni_information">
      <ul>
        <li>
          <h3>SCHOOLING INFORMATION:</h3>
          <p></p>
        </li>
        <li id="li_14">
          <label class="description" for="passout_school">Passout School: </label>
          <div>
            <select class="element select large" id="passout_school" name="passout_school">
              <option value="Saraswati Vidya Mandir Inter College" selected="selected">Saraswati Vidya Mandir Inter
                College
              </option>
              <option value="Saraswati Sishu Mandir">Saraswati Sishu Mandir</option>
            </select>
            <script type="text/javascript">
              document.getElementById('passout_school').value = "<%= current_user.passout_school ||"Saraswati Vidya Mandir Inter College" %>";
            </script>
          </div>
        </li>
        <li id="li_15">
          <label class="description" for="passout_class">Passout Class: </label>
          <div>
            <select class="element select large" id="passout_class" name="passout_class">
              <option value="12" selected="selected">12</option>
              <option value="11">11</option>
              <option value="10">10</option>
              <option value="9">9</option>
              <option value="8">8</option>
              <option value="7">7</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
            </select>
            <script type="text/javascript">
              document.getElementById('passout_class').value = "<%= current_user.passout_class ||"12" %>";
            </script>
          </div>
        </li>
        <li id="li_16">
          <label class="description" for="passout_year">Passout Year: </label>
          <div>
            <select class="element select large" id="passout_year" name="passout_year">
              <%= current_year = Time.now.year %>
              <%= i = current_year+2 %>
              <% while i > 1969 %>
                  <option value='<%= i %>'><%= i %></option>
                  <%= i=i-1 %>
              <% end %>
            </select>
            <script type="text/javascript">
              document.getElementById('passout_year').value = "<%= current_user.passout_year || current_year %>";
            </script>
          </div>
        </li>

        <li>
          <input class="next-button" style="width: 49%;" id="goBack" align="left" type="submit" name="personal-info-next" value="Previous">
          <input class="next-button" style="width: 49%;" id="saveForm" align="right" type="submit" name="personal-info-next" value="Next">
        </li>
      </ul>
    </form>
  </div>
</div>