<div class="navbar navbar-default navbar-fixed-top header" id="header">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" id="logo"><%= image_tag('logo.png', :alt => "Logo", :class => "img-rounded", :height => '48px', :style => "align:center; border: 2px solid white; border-radius: 10px;margin-right:5px;margin-top:1px;") %></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <%= render 'layouts/static_header' %>
      <% is_not_profile_complete = (current_user.email.nil? or
          current_user.name.nil? or
          current_user.passout_class.nil? or
          current_user.passout_year.nil?) %>
      <ul class="nav navbar-nav navbar-right header-login-nav" id="header-login-nav">
        <li>
          <div>
            <table cellpadding style="margin-top:3px; text-align:right; font-size:13px;">
              <tr>
                <td>
                  <% if is_not_profile_complete and !current_page?('/') %>


                      <div style="float:right; margin-top:7px; margin-right:20px;">
                        <%= update_button_code %></div>

                  <% end %>
                </td>
                <td style="padding-right:10px;">
                  <a style="text-decoration: none; color: white;" href="/my_profile">
                    <% if current_user.name.nil? %>
                        <%= current_user.email %><br>
                    <% else %>
                        <%= current_user.name %><br>
                    <% end %>
                  </a>
                  <% if current_user.admin %>
                      <%= link_to('Admin', admin_path, :style => "color:white;") %>&nbsp;|&nbsp;
                  <% end %>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete, :style => "color:white;") %>
                </td>
                <td class="dropdown">

                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">

                    <% if current_user.identities.first.nil? %>
                        <%= image_tag('avatar_placeholder.png', :alt => "profile image", :width => 44, :height => 44, :style => "border: 1px solid white; border-radius: 15px;") %>
                    <% else %>
                        <%= image_tag(current_user.identities.first.image + "?type=small", :alt => "profile image", :width => 44, :height => 44, :style => "border: 1px solid white; border-radius: 15px;") %>
                    <% end %>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <%= link_to "Edit Profile", alumni_personal_info_path %>
                    </li>
                    <li>
                      <%= link_to "Change Password", edit_user_registration_path %>
                    </li>
                  </ul>

                </td>
              </tr>
            </table>
          </div>
        </li>
        <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="et-down fa fa-lg fa-user pull-right s"></i>Login<br></a>
                    <ul id="login-dp" class="dropdown-menu" role="menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <font color="#03A9F4">Login via</font>
                                    <div class="social-buttons">
                                        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                        <a href="#" class="btn btn-li"><i class="fa fa-linkedin"></i> Linkedin</a>
                                        <a href="#" class="btn btn-gp"><i class="fa fa-google-plus"></i> Google+</a>
                                    </div>
                                </div>
                                <div class="bottom text-center">
                                    <font color="#03A9F4">New here ?</font>
                                    <a href="#"><b>Join Us</b></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li> -->
      </ul>
    </div>
  </div>

  <% if is_not_profile_complete and current_page?('/') %>
      <div class="loggedin-header-update-profile-prompt bg-info">
        <div style="float:left; margin-left:20px;">
          <h4>Plaese update your profile. It will help you to easily connect with your batchmates.</h4></div>
        <div style="float:right; margin-top:7px; margin-right:20px;">
          <%= update_button_code %></div>
      </div>
  <% end %>
</div>